h1 Ladda upp nytt recept 

form action="/recepie/create" method="post" 
    input type="text" id="title" name="title"
    label for="title" Rubrik 
    br/
    .ingredient
      input type="text" name="ingredients[][amount]" placeholder="Mängd"
      input type="text" name="ingredients[][unit]" placeholder="Enhet"
      input type="text" name="ingredients[][name]" placeholder="Ingrediens"

    button type="button" onclick="addIngredient()" Lägg till ingrediens
    br/
    br/

    textarea cols="80" 
