h1 Receptsidan 



form action="/recipe/new" method="GET" 
    input type="submit" value="Ladda upp nytt recept"
section
    - @recipes.each do |recipe|
        a href="recipe/#{recipe["id"]}"
            div
                h2  #{recipe["title"]}
                p  #{recipe["description"]}
                hr

