<!DOCTYPE html>
html lang="sv"
    head
        meta charset="UTF-8"/
        meta name="viewport" content="width=device-width, initial-scale=1.0"/
        title Document
    body  
        - if @user 
            form action="/logout" method="post" 
                input type="submit" value="Logga ut"
        - else 
            form action="/login" method="get" 
                input type="submit" value="Logga in"
        ==yield

    
        