h1 Logga in 
section     
    form action="/login" method="post" 
        input name="user" placeholder="Användarnamn" type="text"
        br/
        input name="pwd" placeholder="pwd" type="text"
        br/
        input type="submit" value="Logga in"
        br/

    form action="/register" method="get"
        input type="submit" value="Registrera ny användare  "