h1 Registrera ny användare 

form action="/user/add" method="post" 
    input type="text" name="user" placeholder="Username"
    br/
    input type="text" name="pwd" placeholder="Password"
    br/
    input type="text" name="pwd_confirm" placeholder="Confirm password"
    br/
    input type="submit" value="Register"